<section class="items-section">
  <div class="items-container">
    <div class="income">
      <h1>{{ "INCOME" | translate }}</h1>
      <div *ngFor="let item of items">
        <app-budget-card
          *ngIf="item.amount >= 0"
          [isIncome]="true"
          [item]="item"
          (btnClicked)="onDelete(item)"
          (cardClick)="onCardClicked(item)"
        ></app-budget-card>
      </div>
    </div>

    <div class="expenses">
      <h1>{{ "EXPENSES" | translate }}</h1>
      <div *ngFor="let item of items">
        <app-budget-card
          *ngIf="item.amount < 0"
          [isIncome]="false"
          [item]="item"
          (btnClicked)="onDelete(item)"
          (cardClick)="onCardClicked(item)"
        ></app-budget-card>
      </div>
    </div>
  </div>
</section>
