<div class="nav">
  <h1 scaleAnim>
    <a routerLink="/login" class="login" scaleAnim>{{ "LOGIN" | translate }}</a>
  </h1>
  <h1 scaleAnim>
    <a routerLink="/register">{{ "REGISTER" | translate }}</a>
  </h1>
</div>

<div class="box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <p>{{ "USERNAME" | translate }}</p>
      <input
        type="text"
        formControlName="username"
        placeholder="Enter username"
      />
      <div class="alert-div">
        <p *ngIf="!userExist" class="alert">
          {{ "USERDOESNOTEXIST" | translate }}
        </p>
      </div>
    </div>

    <div>
      <p>{{ "PASSWORD" | translate }}</p>
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
      />
      <div class="alert-div">
        <p *ngIf="incorrectPassw" class="alert">
          {{ "PASSWORDISINCORRECT" | translate }}
        </p>
        <p
          *ngIf="form.value.password && form.value.password.length < 8"
          class="alert"
        >
          {{ "TOOSHORT" | translate }}
        </p>
      </div>
    </div>

    <p class="sign-up">
      {{ "DONTHAVEANACCOUNT" | translate }}
      <a routerLink="/register">{{ "REGISTER" | translate }}!</a>
    </p>

    <div class="btn-container">
      <button class="button">{{ "LOGINBTN" | translate }}</button>
    </div>
  </form>
</div>
