<div class="nav">
  <h1>
    <a routerLink="../login" class="login">Login</a>
  </h1>
  <h1>
    <a routerLink="../register">Register</a>
  </h1>
</div>

<div class="box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <p>Username</p>
      <input
        type="text"
        formControlName="username"
        placeholder="Choose username"
      />
      <div class="alert-div">
        <p *ngIf="!userExist" class="alert">User does not exist</p>
      </div>
    </div>

    <div>
      <p>Password</p>
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
      />
      <div class="alert-div">
        <p *ngIf="incorrectPassw" class="alert">Password is incorrect</p>
      </div>
    </div>

    <div class="btn-container">
      <button class="button">Log in</button>
    </div>
  </form>
</div>
