.nav {
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: center;
  background-color: #2ecc706f;

  h1 {
    display: inline-block;
    padding: 0 20px;
    margin-top: 15px;

    &:first-child {
      border-right: 2px solid black;
    }

    a {
      text-decoration: none;
      color: black;
      display: block;

      &.login {
        font-weight: 900;
      }
    }
  }
}

.box {
  margin: 0 auto;
  width: 500px;
  border-top: 1px solid #e58cea86;
  padding-top: 50px;

  .sign-up {
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;

    a {
      color: black;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      width: 120px;
    }

    input {
      border: 0;
      background: none;
      display: block;
      margin: 10px auto;
      text-align: center;
      border: 2px solid #3498db;
      padding: 14px 10px;
      width: 200px;
      outline: none;
      color: black;
      border-radius: 24px;
      transition: 0.25s;

      &:focus {
        width: 280px;
        border-color: #2ecc71;
      }
    }

    .alert-div {
      width: 120px;
      height: 20px;

      .alert {
        padding: 3px;
        padding-top: 5px;
        font-size: 10px;
        display: inline-block;
        animation: 2s alertAnim forwards;
        border-radius: 10px;
        margin: 5px;
        color: red;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;

    .button {
      border: 0;
      background: none;
      display: block;
      margin: 20px 10px;
      text-align: center;
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      outline: none;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 5px;

      &:hover {
        background: #2ecc71;
      }

      &:disabled {
        cursor: auto;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    margin: 0 auto 50px auto;
    width: 320px;
    display: flex;
    justify-content: center;
    background-color: #2ecc706f;

    h1 {
      display: inline-block;
      padding: 0 20px;
      margin-top: 15px;

      &:first-child {
        border-right: 2px solid black;
      }

      a {
        text-decoration: none;
        color: black;

        &.login {
          font-weight: 900;
        }
      }
    }
  }

  .box {
    margin: 0 auto;
    width: 310px;
    border-top: 1px solid #e58cea86;
    padding-top: 50px;
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        width: 120px;
        text-align: center;
      }
    }
  }
}
