<div class="nav">
  <div class="headers">
    <h1>
      <a routerLink="/dashboard" scaleAnim>{{ "DASHBOARD" | translate }}</a>
    </h1>
    <h1>
      <a routerLink="/dashboard/user" scaleAnim>{{ "USER" | translate }}</a>
    </h1>
    <h1>
      <a routerLink="/dashboard/notes" scaleAnim>{{ "NOTES" | translate }}</a>
    </h1>
    <h1>
      <a routerLink="/dashboard/budget-manager" class="budget" scaleAnim>{{
        "BUDGETCALC" | translate
      }}</a>
    </h1>
  </div>

  <div>
    <button (click)="logOut()" scaleAnim>
      <h1>{{ "LOGOUT" | translate }}</h1>
    </button>
  </div>
</div>

<router-outlet></router-outlet>
