<div #container class="note-card-container">
  <a [routerLink]="link">
    <div class="note-card-content">
      <h1 class="note-card-title">
        {{ title }}
        <span>{{ date | date: format }}</span>
      </h1>
      <!-- <span>{{ date | date: format }}</span> -->

      <div class="note-card-body">
        <p>{{ body }}</p>

        <div class="fade-out"></div>
      </div>
    </div>
  </a>

  <div class="delete-btn" (click)="delete()">
    <button mat-button>❌</button>
  </div>
</div>
