<div class="main-container">
  <div class="search-bar-container">
    <mat-form-field appearance="fill" class="mat-field">
      <mat-label>{{ "SEARCH" | translate }}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        #searchNote
        type="text"
        matInput
        placeholder="Type something.."
        (keyup)="search(searchNote.value)"
      />
    </mat-form-field>
  </div>

  <div class="notes-list">
    <app-note-card
      *ngFor="let note of filtered; index as i"
      [link]="URL(note)"
      (delete)="delete(note)"
      [title]="note.title"
      [body]="note.body"
    ></app-note-card>
  </div>

  <button mat-flat-button color="primary" class="btn" routerLink="new">
    <mat-icon>add</mat-icon>{{ "ADD" | translate }}
  </button>
</div>

<!-- [animation] -->
