<div class="nav">
  <div>
    <h1>
      <a routerLink="/dashboard">Dashboard</a>
    </h1>
    <h1>
      <a routerLink="user" class="user">User</a>
    </h1>
    <h1>
      <a routerLink="/dashboard/notes">Notes</a>
    </h1>
    <h1>
      <a routerLink="../register">Books</a>
    </h1>
  </div>

  <div>
    <button (click)="logOut()"><h1>log out</h1></button>
  </div>
</div>

<div class="popup">
  <span *ngIf="updated">User is successfully updated! 🎉</span>
</div>

<div class="example-container mat-container">
  <div>
    <form [formGroup]="updateForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="mail" />
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirm"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <div class="matbtn-container">
        <button
          mat-raised-button
          color="primary"
          (click)="update()"
          [disabled]="updateForm.invalid"
        >
          Update
        </button>
        <button mat-raised-button color="primary" (click)="delete()">
          Delete
        </button>
      </div>
    </form>
  </div>

  <div class="demo">
    <div class="perspective-container">
      <div class="card"></div>
    </div>
  </div>
</div>
