<div class="nav">
  <div class="headers">
    <h1 scaleAnim>
      <a routerLink="/dashboard">{{ "DASHBOARD" | translate }}</a>
    </h1>
    <h1 scaleAnim>
      <a routerLink="/dashboard/user" class="user">{{ "USER" | translate }}</a>
    </h1>
    <h1 scaleAnim>
      <a routerLink="/dashboard/notes">{{ "NOTES" | translate }}</a>
    </h1>
    <h1 scaleAnim>
      <a routerLink="/dashboard/budget-manager">{{
        "BUDGETCALC" | translate
      }}</a>
    </h1>
  </div>

  <div>
    <button (click)="logOut()" scaleAnim>
      <h1>{{ "LOGOUT" | translate }}</h1>
    </button>
  </div>
</div>

<div class="popup">
  <span *ngIf="updated">{{ "USERUPDATESUCCESS" | translate }} 🎉</span>
</div>

<div class="example-container mat-container">
  <div class="field">
    <form [formGroup]="updateForm">
      <mat-form-field appearance="fill">
        <mat-label>{{ "NAME" | translate }}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>{{ "USERNAME" | translate }}</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>{{ "EMAIL" | translate }}</mat-label>
        <input matInput formControlName="mail" />
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>{{ "ENTERPASSWORD" | translate }}</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>{{ "CONFIRMPASSWORD" | translate }}</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirm"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <div class="matbtn-container">
        <button
          mat-raised-button
          color="primary"
          (click)="update()"
          [disabled]="updateForm.invalid"
        >
          {{ "UPDATE" | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="delete()">
          {{ "DELETE" | translate }}
        </button>
      </div>
    </form>
  </div>

  <div>
    <div class="card"></div>
  </div>
</div>
