.nav {
  margin: 0 auto;
  // width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: #2ecc706f;

  div {
    padding: 30px 50px 30px 50px;

    h1 {
      display: inline-block;
      padding: 0 20px;

      // &:first-child {
      border-right: 2px solid black;
      // }

      a {
        text-decoration: none;
        color: black;

        &.user {
          font-weight: 900;
        }
      }
    }
  }

  div {
    padding: 30px 50px 30px 50px;

    h1:last-child {
      border: none;
    }

    button {
      background-color: rgba(255, 255, 255, 0);
      border: none;
    }
  }
}

.example-container .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-container {
  width: 900px;
  margin: 0 auto;
  border: 1px solid purple;
  padding: 50px;
  display: flex;
  justify-content: space-between;

  .matbtn-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }

  .card {
    background-image: url(https://media.giphy.com/media/sIIhZliB2McAo/giphy.gif);
    background-size: cover;
    box-shadow: 0 0 140px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 300px;
    width: 500px;
    overflow: hidden; /* Try removing this to see how the sheen works! */
    --sheenX: 0; /* Set these with JavaScript */
    --sheenY: 0;
  }

  .card::after {
    content: "";
    position: absolute;
    top: -400px;
    right: -400px;
    bottom: -400px;
    left: -400px;
    background: linear-gradient(
      217deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 35%,
      rgba(255, 255, 255, 0.25) 45%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: translateX(var(--sheenX)) translateY(var(--sheenY));
  }
}

.popup {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    margin: 0 auto;
    // width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: #2ecc706f;

    div {
      padding: 30px 8px 30px 8px;

      h1 {
        display: inline-block;
        padding: 0 20px;
        font-size: 16px;

        // &:first-child {
        border-right: 2px solid black;
        // }

        a {
          text-decoration: none;
          color: black;

          &.user {
            font-weight: 900;
          }
        }
      }
    }

    div {
      padding: 30px 8px 30px 8px;

      h1:last-child {
        border: none;
      }

      button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
      }
    }
  }

  .mat-container,
  .example-container {
    max-width: 766px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;

    .field {
      margin-bottom: 30px;
    }

    .card {
      margin-bottom: 30px;
    }
  }
}
