<form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
  <label class="label">{{ "TITLE" | translate }}</label>
  <br />
  <mat-form-field appearance="fill" class="mat-field mat-input">
    <mat-label>{{ "TITLE" | translate }}</mat-label>
    <input matInput type="text" name="title" [ngModel]="note.title" required />
  </mat-form-field>
  <br />
  <label class="label">{{ "BODY" | translate }}</label>
  <br />
  <mat-form-field appearance="fill" class="mat-field">
    <mat-label>{{ "BODY" | translate }}</mat-label>
    <textarea matInput name="body" [ngModel]="note.body"></textarea>
  </mat-form-field>

  <div class="field is-grouped is-pulled-right">
    <div class="control">
      <button mat-flat-button type="button" (click)="cancel()">
        {{ "CANCEL" | translate }}
      </button>
    </div>
    <div class="control">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="noteForm.invalid"
      >
        {{ "SAVE" | translate }}
      </button>
    </div>
  </div>
</form>
