h1 {
  text-align: center;
  color: white;
  font-weight: 900;
  padding: 10px;
  border-top: 3px solid rgba(255, 255, 255, 0.836);
  border-bottom: 3px solid rgba(255, 255, 255, 0.836);
  background-color: #000000;
  margin-bottom: 0;
}
