<div class="nav">
  <h1 scaleAnim>
    <a routerLink="/login">{{ "LOGIN" | translate }}</a>
  </h1>
  <h1 scaleAnim>
    <a routerLink="/register" class="register">{{ "REGISTER" | translate }}</a>
  </h1>
</div>
<div class="box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <p>{{ "NAME" | translate }}</p>
      <input
        type="text"
        formControlName="name"
        placeholder="Enter your full name"
      />
      <div class="alert-div"></div>
    </div>

    <div>
      <p>{{ "USERNAME" | translate }}</p>
      <input
        type="text"
        formControlName="username"
        placeholder="Use only letters and - symbol"
      />
      <div class="alert-div">
        <!-- <p
          *ngIf="form.value.username && form.value.username.invalid"
          class="alert"
        >
          Username should contain only letters and - symbol
        </p> -->
      </div>
    </div>

    <div>
      <p>{{ "EMAIL" | translate }}</p>
      <input
        type="text"
        formControlName="mail"
        placeholder="Enter your E-mail"
      />
      <div class="alert-div"></div>
    </div>

    <div>
      <p>{{ "PASSWORD" | translate }}</p>
      <input
        type="password"
        formControlName="password"
        placeholder="Use at least one symbol/number"
      />
      <div class="alert-div">
        <p
          *ngIf="form.value.password && form.value.password.length < 8"
          class="alert"
        >
          {{ "TOOSHORT" | translate }}
        </p>
      </div>
    </div>

    <div>
      <p>{{ "CONFIRMPASSWORD" | translate }}</p>
      <input
        type="password"
        formControlName="confirm"
        placeholder="Confirm password"
      />
      <div class="alert-div">
        <p
          *ngIf="
            form.value.confirm && form.value.password != form.value.confirm
          "
          class="alert"
        >
          {{ "DONTMATCH" | translate }}
        </p>
      </div>
    </div>

    <p class="sign-up">
      {{ "HAVEANACCOUNT" | translate }}
      <a routerLink="/login">{{ "LOGIN" | translate }}!</a>
    </p>

    <div class="btn-container">
      <button class="button" [disabled]="form.invalid">
        {{ "REGISTER" | translate }}
      </button>
      <button class="button cancel-btn">
        <a routerLink="../login">{{ "CANCEL" | translate }}</a>
      </button>
    </div>
  </form>
</div>
