<h1>hi</h1>

<h4>Register</h4>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name</label>
  <input type="text" formControlName="firstName" />

  <label for="lastName">Last Name</label>
  <input type="text" formControlName="lastName" />

  <label for="username">Username</label>
  <input type="text" formControlName="username" />

  <label for="password">Password</label>
  <input type="password" formControlName="password" />

  <button [disabled]="loading">Register</button>
  <a routerLink="../login">Cancel</a>
</form>
