<div class="nav">
  <h1 scaleAnim>
    <a routerLink="/login">{{ "LOGIN" | translate }}</a>
  </h1>
  <h1 scaleAnim>
    <a routerLink="/register" class="register">{{ "REGISTER" | translate }}</a>
  </h1>
</div>
<div class="box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <p>{{ "NAME" | translate }}</p>
      <input
        type="text"
        formControlName="name"
        placeholder="Enter your full name"
      />
      <div class="alert-div"></div>
    </div>

    <div>
      <p>{{ "USERNAME" | translate }}</p>
      <input
        type="text"
        formControlName="username"
        placeholder="Choose username"
      />
      <div class="alert-div"></div>
    </div>

    <div>
      <p>{{ "EMAIL" | translate }}</p>
      <input
        type="text"
        formControlName="mail"
        placeholder="Enter your E-mail"
      />
      <div class="alert-div"></div>
    </div>

    <div>
      <p>{{ "PASSWORD" | translate }}</p>
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
      />
      <div class="alert-div"></div>
    </div>

    <div>
      <p>{{ "CONFIRMPASSWORD" | translate }}</p>
      <input
        type="password"
        formControlName="confirm"
        placeholder="Confirm password"
      />
      <div class="alert-div">
        <p *ngIf="form.value.password != form.value.confirm" class="alert">
          Passwords don't match
        </p>
      </div>
    </div>

    <div class="btn-container">
      <button class="button" [disabled]="form.invalid">
        {{ "REGISTER" | translate }}
      </button>
      <button class="button cancel-btn">
        <a routerLink="../login">{{ "CANCEL" | translate }}</a>
      </button>
    </div>
  </form>
</div>
