<div class="nav">
  <div>
    <h1>
      <a routerLink="user">{{ "USER" | translate }}</a>
    </h1>
    <h1>
      <a routerLink="notes">{{ "NOTES" | translate }}</a>
    </h1>
    <h1>
      <a routerLink="books">{{ "BOOKS" | translate }}</a>
    </h1>
  </div>

  <div>
    <button (click)="logOut()">
      <h1>{{ "LOGOUT" | translate }}</h1>
    </button>
  </div>
</div>
<!-- <button (click)="function()">we</button> -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />

<div class="content">
  <div class="content__container">
    <p class="content__container__text">{{ "HELLO" | translate }}</p>

    <ul class="content__container__list">
      <li class="content__container__list__item">
        {{ "WORLD" | translate }} !
      </li>
      <li class="content__container__list__item">{{ username }} !</li>
      <li class="content__container__list__item">
        {{ "USERS" | translate }} !
      </li>
      <li class="content__container__list__item">
        {{ "EVERYBODY" | translate }} !
      </li>
    </ul>
  </div>
</div>
