<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <mat-form-field appearance="fill" class="input-for-amount">
    <mat-label>{{ "AMOUNT" | translate }}</mat-label>
    <input
      matInput
      type="number"
      name="amount"
      required
      [ngModel]="item.amount"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-for-description">
    <mat-label>{{ "DESCRIPTION" | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="description"
      required
      [ngModel]="item.description"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="itemForm.invalid"
  >
    <p *ngIf="new">{{ "ADD" | translate }}</p>
    <p *ngIf="!new">{{ "SAVE" | translate }}</p>
  </button>
</form>
