form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.836);
  border-left: 3px solid rgba(255, 255, 255, 0.836);
  border-right: 3px solid rgba(255, 255, 255, 0.836);
  margin-bottom: 50px;

  .input-for-amount {
    width: 100px;
    border-radius: 5px;
  }

  .input-for-description {
    width: 600px;
    border-radius: 5px;
  }

  button {
    margin-bottom: 12px;
  }
}
